{% extends 'admin_base.html' %}

{% block main%}
<h3 style="text-align: center;">Nhật ký ra vào</h3>

<table class="table table-striped" id="example" style="padding-top: 10px;">
    <thead>
        <tr>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Ngày</th>
            <th>Giờ</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {% for attendance in attendances %}
        <tr>
            <td>{{ attendance.emcode }}</td>
            <td>{{ attendance.name }}</td>
            <td>{{ attendance.date|date:"d/m/Y" }}</td>
            <td>{{ attendance.time|time:"H:i" }}</td>
            <td>
                {% if attendance.counter|divisibleby:2 %}
                    <span class="text-danger" style="text-align: center;"><i class="fa fa-duotone fa-clipboard-list-check"></i> Ra</span>
                {% else %}
                    <span class="text-success" style="text-align: center;">Vào</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
