{% extends 'admin_base.html' %}

{% block main%}

{%load static%}



<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2 text-warning" style="border-bottom: 2px solid orange;">Tạo tài khoản</h5>

        <div class="container-fluid">
            <form method="post" name="signupForm" id="signup-form" onsubmit="return checkpassword()">
                {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                    {% if message.tags == 'success' and 'Có dữ liệu mới được thêm vào.' in message.message %}
                    Tải ảnh lên hoàn tất, bạn đã hoàn thành thủ tục đăng ký.
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-row">
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Mã nhân viên</label>
                            <input type="text" name="empcode" class="form-control"
                                placeholder="Enter Your Employee Code" pattern="[0-9]+" required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Họ</label>
                                <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name"
                                    pattern="[A-Za-z]+" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" name="firstname" class="form-control" placeholder="Enter First name"
                                    pattern="[A-Za-z]+" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email ID" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                          <label>Giới tính</label>
                          <select name="gender" class="form-control" required>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                          </select>
                        </div>
                    </div>
                      

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="address" class="form-control" placeholder="Address" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Phòng ban</label>
                            <input type="text" name="department" class="form-control" placeholder="Department" required>
                        </div>
                    </div>

                   


                </div>

                <div class="button-container">
                    <button onclick="showButtons(); return checkpassword()" class="custom-button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span>Đăng ký</span>
                    </button>

                    <button type="button" class="custom-button" name="upload" id="upload-image-btn"
                        style="display: none;" onclick="uploadImage()">
                        <span class="folder-icon">
                            <i class="fas fa-folder"></i>
                        </span>
                        Từ Folder
                    </button>

                    <button type="button" class="custom-button" name="run_detection" id="camera-btn"
                        style="display: none;" onclick="camera()">
                        <span class="camera-icon">
                            <i class="fas fa-camera"></i>
                        </span>
                        Từ Camera
                    </button>
                </div>

                <style>
                    .custom-button {
                        font-family: inherit;
                        font-size: 13px;
                        background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
                        color: white;
                        padding: 0.6em 1em;
                        /* Thu nhỏ kích thước padding */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 25px;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                        transition: all 0.3s;
                    }

                    .custom-button:hover {
                        transform: translateY(-3px);
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
                    }

                    .custom-button:active {
                        transform: scale(0.95);
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                    }

                    .custom-button span {
                        display: inline-block;
                        vertical-align: middle;
                    }


                    .custom-button svg {
                        width: 13px;
                        height: 13px;
                        fill: white;
                        transition: all 0.3s;
                    }

                    .custom-button .svg-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.2);
                        margin-right: 0.5em;
                        transition: all 0.3s;
                    }

                    .custom-button:hover .svg-wrapper {
                        background-color: rgba(255, 255, 255, 0.5);
                    }

                    .custom-button:hover svg {
                        transform: rotate(45deg);
                    }

                    .button-container {
                        display: flex;
                        gap: 20px;
                        /* Khoảng cách giữa các nút */
                        margin-top: 20px;
                    }
                </style>


                <style>
                    #upload-image-btn,
                    #camera-btn {
                        display: none;
                    }
                </style>

            </form>

            <script>
                let uploadClicked = false;
                let cameraClicked = false;

                function checkpassword() {
                    if (!uploadClicked && !cameraClicked) {
                        alert('Vui lòng chọn một trong hai nút "Upload image" hoặc "Camera" và hoàn thành chức năng.');
                        return false;
                    }

                    if (document.singup.pwd.value != document.singup.cpwd.value) {
                        alert('Password and Repeat Password field does not match');
                        document.singup.cpwd.focus();
                        return false;
                    }

                    return true;
                }

                function showButtons() {
                    const employeeCode = document.querySelector('input[name="firstname"]').value;
                    const uploadButton = document.getElementById('upload-image-btn');
                    const cameraButton = document.getElementById('camera-btn');

                    if (employeeCode.trim() !== '') {
                        uploadButton.setAttribute('data-employee-code', employeeCode);
                        cameraButton.setAttribute('data-employee-code', employeeCode);

                        uploadButton.style.display = 'inline-block';
                        cameraButton.style.display = 'inline-block';
                    } else {
                        alert('Vui lòng nhập mã nhân viên.');
                    }
                }

                function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                }
                function confirmTrain() {
                    const confirmAddNew = confirm('Bạn có muốn thêm người mới không?');
                    if (confirmAddNew) {
                        // Nếu chọn 'OK', ẩn nút "Train"
                        document.getElementById('train-btn').style.display = 'none';
                    } else {
                        // Nếu chọn 'Cancel', bắt đầu train dữ liệu

                    }
                }

                function uploadImage() {
                    uploadClicked = true;
                    const signupForm1 = document.getElementById('signup-form');
                    const formData = new FormData(signupForm1);
                    const empcode = formData.get('empcode');
                    saveAccount();
                    if (empcode.trim() !== '') {
                        fetch(`/create_folder/?name=${empcode}`)
                            .then(response => {
                                if (response.ok) {

                                    return response.text();
                                } else {
                                    // throw new Error('Có lỗi xảy ra!');
                                }
                            })
                            .then(data => {
                                document.body.innerHTML = data;
                                // showSuccessMessage(); // Hiển thị thông báo lấy ảnh thành công
                            })
                            .catch(error => {
                                console.error('Lỗi:', error);
                                // alert('Có lỗi xảy ra!');
                            });
                    } else {
                        alert('Vui lòng nhập mã nhân viên.');
                    }
                }


                function saveAccount() {
                    const signupForm = document.getElementById('signup-form');
                    const formData = new FormData(signupForm);

                    // Lấy CSRF token từ cookie
                    const csrftoken = getCookie('csrftoken');

                    // Thêm CSRF token vào dữ liệu gửi đi
                    formData.append('csrfmiddlewaretoken', csrftoken);

                    // Gửi yêu cầu POST đến view Django
                    fetch('/save_registration/', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Xử lý dữ liệu phản hồi từ view Django
                            if (data.error === 'no') {
                                alert('Đăng ký tài khoản thành công, bạn cần tải ảnh để hoàn thiện bước đăng ký. ');
                            } else {
                                // alert('Có lỗi xảy ra, vui lòng thử lại...');
                            }
                        })
                        .catch(error => {
                            console.error('Lỗi:', error);
                            alert('Có lỗi xảy ra!');
                        });
                }

                function camera() {
                    cameraClicked = true;
                    const formData = new FormData(signupForm);
                    const folderName = formData.get('firstname');
                    saveAccount();
                    if (folderName != null && folderName.trim() != "") {
                        fetch('/demorecognition/face_detection/?name=' + folderName)
                            .then(response => {
                                if (response.ok) {
                                    // showSuccessMessage(); // Hiển thị thông báo lấy ảnh thành công
                                    window.location.href = 'http://localhost:8000/ad_registration/';
                                }
                            })
                            .catch(error => {
                                console.error('Lỗi trong quá trình gửi yêu cầu:', error);
                            });
                    } else {
                        alert('Vui lòng nhập mã nhân viên.');
                    }
                }


            </script>

        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    // alert('Đăng ký thành công');
    window.location = '{% url "admin_rg" %}';
    document.getElementById('upload-image-btn').style.display = 'none';
    document.getElementById('camera-btn').style.display = 'none';
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Có lỗi xảy ra, vui lòng thử lại...');
</script>
{% endif %}
{% endblock %}