{% extends 'admin_base.html' %}

{% block main%}

<script type="text/javascript">
    function changepassword() {
        if (document.changepassword.newpassword.value != document.changepassword.confirmpassword.value) {
            alert('New Password and confirm password field dose not match ');
            document.changepassword.confirmpassword.focus();
            return false;

        }
        return true;

    }

</script>
<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="card shadow" style="width: 450px; border-radius: 10px;">
        <div class="card-body">
            <h5 class="p-2 text-warning mb-4" style="border-bottom: 2px solid orange; border-radius: 10px;">Đổi mật khẩu
            </h5>

            <form method="post" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="currentpassword" id="currentpassword" class="form-control"
                        placeholder="Nhập mật khẩu hiện tại" style="border-radius: 8px;">
                </div>
                <div class="form-group">
                    <input type="password" name="newpassword" id="newpassword" class="form-control"
                        placeholder="Nhập mật khẩu mới" style="border-radius: 8px;">
                </div>
                <div class="form-group">
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control"
                        placeholder="Nhập lại mật khẩu mới" style="border-radius: 8px;">
                </div>
                <!-- <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-radius: 6px;">Đổi mật khẩu</button>
                </div> -->
                <button type="submit" class="button " type="button" style="display: flex; justify-content: center; align-items: center; border-radius: 8px;">
                    <span class="button__text">Đổi mật khẩu</span>
                    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" viewBox="0 0 48 48"
                            height="50" class="svg">
                            <path
                                d="M35.3 12.7c-2.89-2.9-6.88-4.7-11.3-4.7-8.84 0-15.98 7.16-15.98 16s7.14 16 15.98 16c7.45 0 13.69-5.1 15.46-12h-4.16c-1.65 4.66-6.07 8-11.3 8-6.63 0-12-5.37-12-12s5.37-12 12-12c3.31 0 6.28 1.38 8.45 3.55l-6.45 6.45h14v-14l-4.7 4.7z">
                            </path>
                            <path fill="none" d="M0 0h48v48h-48z"></path>
                        </svg></span>
                </button>
                <style>
                    .button {
                        position: relative;
                        
                        width: 150px;
                        height: 40px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        border: 1px solid #0078E8;
                        background-color: #0082FC;
                        overflow: hidden;
                    }

                    .button,
                    .button__icon,
                    .button__text {
                        transition: all 0.3s;
                    }

                    .button .button__text {
                        transform: translateX(10px);
                        color: #fff;
                        font-weight: 500;
                    }

                    .button .button__icon {
                        position: absolute;
                        transform: translateX(109px);
                        height: 100%;
                        width: 39px;
                        background-color: #0078E8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .button .svg {
                        width: 20px;
                        fill: #fff;
                    }

                    .button:hover {
                        background: #0078E8;
                    }

                    .button:hover .button__text {
                        color: transparent;
                    }

                    .button:hover .button__icon {
                        width: 148px;
                        transform: translateX(0);
                    }

                    .button:active .button__icon {
                        background-color: #006cd0;
                    }

                    .button:active {
                        border: 1px solid #006cd0;
                    }
                </style>
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Đổi mật khẩu thành công.')
    window.location = ('{% url "logout" %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try Again...')
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your Current password is wrong')
</script>
{% endif %}

{% endblock %}