{% load static %}
{% include 'header.html' %}

{% block content %}
<style>
  .image-container {
    display: inline-block;
    position: relative;
  }
  
  .bordered-image {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
  }
  
  .info-container {
    display: inline-block;
    width: 300px; /* Điều chỉnh kích thước theo nhu cầu */
    padding: 10px;
    border: 2px solid #000;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Camera</h3>
        </div>
        <div class="box-body">
          <div class="image-container">
            <img id="camera-image" class="bordered-image" src="{% url 'identified' %}">
          </div>
        </div>          
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="info-container" id="info-container">
        <!-- Thêm nội dung văn bản ở đây -->
        <p id="p"></p>
      </div>
    </div>
  </div>
</div>
<button id="btn" hidden> stop</button>
<script type="text/javascript">
  //lấy sự kiện rời trang và load lại trang
  window.onbeforeunload = function() {
    btn.click();
  };

  var btn = document.getElementById('btn');
  var img = document.getElementById('camera-image');

  let url = `ws://${window.location.host}/ws/socket-server/`;

  const socket = new WebSocket(url);

  socket.onmessage = function(e) {
    let data = JSON.parse(e.data);
    console.log('Data: ',data);
  };
  
  btn.addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    var csrftoken = getCookie('csrftoken'); // Retrieve the CSRF token from the cookie
    img.src = "";
    xhr.open('POST', "{% url 'identified' %}", true);
    xhr.setRequestHeader('X-CSRFToken', csrftoken); // Set the CSRF token in the request header
    xhr.send();
  });

  // Helper function to retrieve the CSRF token from the cookie
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock %}
